.banner-bg {
    background-color: #fceae8;
}

.btn-buy {
    background-color: #ff4790;
    color: white;
}

.categori-bg-1 {
    background-color: #ffc107;
}

.categori-bg-2 {
    background-color: #198754;
}

.categori-bg-3 {
    background-color: #0d6efd;

}